h1 {
  color: red;
  font-family: fantasy;
}

body {
  text-align: center;
  font-size: 14pt;
  font-family: sans-serif;
  line-height: 1.0;
}

.light-background {
  background-color: yellow;
  color: darkred;
}

.dark-background {
  background-color: black;
  color: orange;
}

.highlight {
  background: green;
  border: 10px solid #ff00ff;
}
